<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Откуда у нас такой заебатый кофе?</h2>
                    <h3 class="section-subheading text-muted">Ну смотри, объясняю один раз</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1 этап</h4>
                                    <h4 class="subheading">Мы его покупаем</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">На самом деле, мы его конечно не покупаем, а пиздим остатки из кофемашин, но да кого ебет</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2 этап</h4>
                                    <h4 class="subheading">Мы его катаем на самолете</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Почему бы и нет</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Почти последний этап</h4>
                                    <h4 class="subheading">Запихиваем в красивые пакеты</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Мы используем для хранения нашего кофе только самые красивые и дорогие пакеты</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Заключительный этап</h4>
                                    <h4 class="subheading">Самый важный</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Упакованный кофе проходит 5 уровней очистки!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Тупа
                                    <br>с
                                    <br> душой</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>